#logo {
    float:left;
    height:44%;
    width: 27%;
    opacity:0.75;
}
body {
    width: 100%;
    height: 100%;
    background-color:blue;
    opacity:0.95;
}
#menu {
    float:left;
    height:9.8%;
    width:100%;
    background-color:black;
    opacity:0.85;
    border-style:solid;
    border-width:2px;
}
#menu table {
    text-align:center;
    width:100%;
}
#menyn0 {
    font-size:29px;
    float:left;
    border-width:2px;
    border-style:solid;
}
#menyn1 {
    font-size:29px;
    margin-left:9%;
    float:left;
    border-width:2px;
    border-style:solid;
}
#menu a {
    color:white;
}
.hem {
    width:75%;
    height:200px;
    border:1px solid #000;
    float:left;
    margin-top:2%;
    margin-left: 12.5%;
}

#namn {
    float:left;
    width:33%;
    height:80px;
    border:1px solid blue;
}
#namn h1 {
    color:white;
    font-size:70px;
}
#namn p {
    color:white;
    font-size:20px;
}
.hem th {
    color:white;
    margin-left:auto;
}
.hem p {
    font-size:15px;
}
#program {
    margin-top:2%;
    width:15%;
    height:300px;
    border:2px solid black;
    float:left;
}
#program p {
    font-size:15px;
}
.program {
    margin-top:2%;
    width:10%;
    height:300px;
    border:2px solid black;
    float:left;
    margin-left:10%;
}
.program p {
    color:white;
    font-size:14px;
}
#personal {
    width:15%;
    height:300px;
    border:2px solid black;
    float:left;
    margin-top:2%;
}
#personal p {
    color:white;
}
.personal_rutor {
    width:8%;
    height:100px;
    border:2px solid black;
    float:left;
    margin-left:2%;
    margin-top:2%;
}
#skolmat {
    width:20%;
    height:250px;
    border:2px solid black;
    float:left;
    margin-top:2%;
}
#skolmat li {
    font-size:10px;
}
#event {
    width:80%;
    height:250px;
    border:1px solid #000;
    float:left;
    margin-top:2%;
}
body h3, p, li, h4{
    color:white;
    text-align:center;
}
#meddelanden {
    width:33%;
    height:250px;
    border:2px solid black;
    float:left;
    margin-left:10%;
    margin-top:2%;
    text-align:center;
}
#meddelanden p {
    text-align:center;
    font-size:13px;
}
#installda_lektioner {
    width: 15%;
    height: 250px;
    border: 2px solid black;
    float: left;
    margin-left: 10%;
    margin-top: 2%;
}
#hitta_hit {
    float:left;
}
#hitta_hit p {
    color:white;
}
#googleMap {
    margin-top:5%;
    float:left;
    width:80%;
    height:350px;
}

@media screen and (max-width: 700px) {
    #logo {
        float:left;
        height:10%;
        width: 20%;
        opacity:0.75;
    }
    #menu {
        float:left;
        height:9.8%;
        width:100%;
        background-color:black;
        opacity:0.85;
        border-style:solid;
        border-width:2px;
    }
    #menu table {
        width:100%;
    }
    #menyn1 {
        font-size:14px;
        margin-left:10%;
        float:left;
        border-width:2px;
        border-style:solid;
    }
    #menyn0 {
        font-size:14px;
        float:left;
        border-width:2px;
        border-style:solid;
    }
    #namn h1 {
        color:white;
        font-size:35px;
    }
    #namn p {
        color:white;
        font-size:15px;
    }
    .hem p {
        font-size:9px;
    }
    .hem {
        width:75%;
        height:150px;
        border:1px solid #000;
        float:left;
        margin-top:2%;
        margin-left: 12.5%;
    }
    .program {
        width:10%;
        height:250px;
        border:2px solid black;
        float:left;
        margin-left:10%;
    }
    .program p {
        font-size:10px;
    }
    #program p {
        font-size:10px;
    }
    .personal_rutor p {
        font-size:9px;
        color:white;
    }
    .personal_rutor {
        width:15%;
        height:15%;
    }
    #personal {
        width:15%;
        height:25%;
    }
    #personal p {
        font-size:10px;
        color:white;
    }
    #skolmat li {
        font-size:8px;
    }
    #skolmat h3 {
        font-size:12px;
    }
    #meddelanden h3 {
        font-size:12px;
    }
    #installda_lektioner h4 {
        font-size:12px;
    }
    #installda_lektioner p {
        font-size:11px;
    }

}